node_modules/
.npm

out/
dist/
*.vsix

.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.local
.env.*.local

.DS_Store
Thumbs.db

*.tsbuildinfo

.eslintcache

coverage/

*.swp
*.swo
.tmp/